body {
    margin: 0;
    text-align: center;
    font-family: 'Merriweather', serif;
    color: #40514E;
}

h1 {
    /* 100% = 16px : 90px = 562.5% (90/16*100)*/
    /* 1em = 16px : 90px = 5.625em */
    /* em inherits from root */
    /* CSS3 - rem root em doesn't inherit and applies what we want */
    font-size: 5.625em;
    color: #66BFBF;
    margin: 20px auto 0 auto;
    font-family: 'Sacramento', cursive;
    line-height: 2;
}

h2 {
    color: #66BFBF;
    font-family: 'Montserrat', sans-serif;
    /* 1rem = 16px : 40px = 2.5rem */
    font-size: 2.5rem;
    font-weight: normal;
}

h3 {
    color: #11999E;
    font-family: 'Montserrat', sans-serif;
}

a {
    color: #11999E;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    margin: 20px;
}

a:hover {
    color: #EAF6F6;
}

hr {
    border: dotted #D5F7F7 6px;
    border-bottom: none;
    width: 4%;
    margin: 100px auto;
}

.top-container {
    padding: 20px;
    position: relative;
    padding-top: 100px;
    background-color: #EAF6F6;
}

.pro {
    text-decoration: underline;
}

.top-cloud {
    position: absolute;
    right: 300px;
    top: 50px;
}

.bottom-cloud {
    position: absolute;
    left: 250px;
    bottom: 300px;
}

#profile {
    width: 120px;
    padding-top: 30px;
}

.skill-row {
    width: 50%;
    margin: 100px auto;
    text-align: left;
    line-height: 2;
    /* position: relative; */
}

.skill-img {
    width: 25%;
    float: left;
    margin-right: 30px;
}

.game-img {
    float: right;
    margin-left: 30px;
}

.bottom-container {
    background-color: #66BFBF;
    padding: 40px;
}

.margin-0 {
    margin-bottom: 0;
}

.copyright {
    color: #EAF6F6;
    font-size: 0.75rem;
    padding: 20px 0px;
}

.middle-container {
    line-height: 2;
}

.intro {
    width: 30%;
    margin: auto;
}

.btn {
    background: #11CDD4;
    background-image: -webkit-linear-gradient(top, #11CDD4, #11999E);
    background-image: -moz-linear-gradient(top, #11CDD4, #11999E);
    background-image: -ms-linear-gradient(top, #11CDD4, #11999E);
    background-image: -o-linear-gradient(top, #11CDD4, #11999E);
    background-image: -webkit-gradient(to bottom, #11CDD4, #11999E);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    color: #FFFFFF;
    font-family: Arial;
    font-size: 20px;
    font-weight: 100;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    text-align: center;
}

.btn:hover {
    border: solid #337FED 0;
    background: #30E3CB;
    background-image: -webkit-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -moz-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -ms-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -o-linear-gradient(top, #30E3CB, #2BC4AD);
    background-image: -webkit-gradient(to bottom, #30E3CB, #2BC4AD);
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    text-decoration: none;
}